.form-input-busca {
    width: 100%;
    position: relative;
    
    i.reset-input {
        display: none;
        position: absolute;
        font: 10px 400 12px/24px;
        font-family: 'Lato', sans-serif;
        width: max-content;
        height: max-content;
        right: 0;
        top: 25%;
        color: #3F7373;
    }

    &:hover i.reset-input {
        display: block;
    }

    .input-busca {
        width: 100%;
        outline: none;
        font-size: 12px;
        line-height: 24px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 4px 8px 2px;
        color: #404040;
        background-color: #F2F2F2;
        border: 0;
        border-bottom: 2px solid #3F7373;
    }
}